@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-link {
    @apply flex items-center gap-5 pl-4 pt-3 pb-2.5 rounded-lg text-white text-sm m-2 font-semibold bg-[#1A97F5]
  }

  .normal-link {
    @apply flex items-center gap-5 pl-4 pt-3 pb-2.5 rounded-lg text-sm text-gray-700 dark:text-gray-200 dark:hover:text-black hover:bg-light-gray m-2
  }

  .pending {
    @apply bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-3 py-1 rounded dark:bg-blue-900 dark:text-blue-300
  } 
  .shipping {
    @apply bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-3 py-1 rounded dark:bg-yellow-900 dark:text-yellow-300
  } 
  .completed {
    @apply bg-green-100 text-green-800 text-xs font-medium mr-2 px-3 py-1 rounded dark:bg-green-900 dark:text-green-300
  } 
  .canceled {
    @apply bg-red-100 text-red-800 text-xs font-medium mr-2 px-3 py-1 rounded dark:bg-red-900 dark:text-red-300
  }
}
@layer utilities {
  .side-bar-hidden::-webkit-scrollbar {
    display: none;
  }
  .side-bar-hidden {
    cursor: ns-resize;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}

@media screen and (max-width:800px) {
  .sidebar {
    z-index: 10000000;
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}